:root {
  --theme-color: #ffefda;
  --secondary-color: #e4ffc0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4%;
}
.navigation-pages {
  width: 30%;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.navigation-icon {
  display: flex;
  gap: 15px;
}
.navigation-logo p {
  font-size: 18px;
  font-weight: bold;
}
.navigation-pages a {
  color: black;
}

.center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.layers {
  width: 200%;
  height: 100%;
  display: flex;
  transition: cubic-bezier(0.71, 0, 0.38, 1) 1.5s;
}
.layer {
  width: 100vw;
  height: 100%;
  background: var(--theme-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: cubic-bezier(0.71, 0, 0.38, 1) 1.5s;
}

.layer label {
  display: block;
  font-family: poppins;
  box-sizing: border-box;
  padding: 10px 20px;
  border: 0.5mm solid black;
  border-radius: 10mm;
  font-size: 20px;
  cursor: pointer;
  margin: 75px;
}
.container {
  width: fit-content;
  height: fit-content;
  position: relative;
  margin-top: 75px;
  overflow: hidden;
}
.can {
  width: 200px;
  position: relative;
}
.can img {
  width: 200px;
  margin-top: 50px;
}
.wrapper {
  width: fit-content;
  position: absolute;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: multiply;
  transition: cubic-bezier(0.71, 0, 0.38, 1) 1.2s;
}
.wrapper img {
  height: 100%;
  margin-top: 10px;
}
#toggle {
  display: none;
}

#toggle:checked ~ .main .layers .layer:nth-child(1) .container .wrapper {
  left: -50%;
}

#toggle:checked ~ .main .layers .layer:nth-child(1) .text {
  left: 150%;
}
#toggle:checked ~ .main .layers .layer:nth-child(1) .text {
  left: 150%;
}

#toggle:checked ~ .main .layers .layer:nth-child(1) .fruits img {
  transform: translate(-100%, -50%);
}

#toggle:checked ~ .main .layers .layer:nth-child(1) .fruits {
  left: 125%;
}

#toggle:not(:checked) ~ .main .layers .layer:nth-child(2) .container .wrapper {
  left: -50%;
}

#toggle:not(:checked) ~ .main .layers .layer:nth-child(2) .text {
  left: -50%;
}

#toggle:not(:checked) ~ .main .layers .layer:nth-child(2) .fruits img {
  transform: translate(-100%, -50%);
}

#toggle:not(:checked) ~ .main .layers .layer:nth-child(2) .fruits {
  left: 0;
}
#toggle:checked ~ .main .layers {
  transform: translateX(-50%);
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 335px;
  line-height: 412.86px;
  font-weight: 500;
  color: #ffd399;
  font-family: Clash Display;
  transition: all cubic-bezier(0.71, 0, 0.38, 1) 1.1s;
}
.fruits {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: cubic-bezier(0.71, 0, 0.38, 1) 1.2s;
}
.fruits img {
  transition: cubic-bezier(0.71, 0, 0.38, 1) 1.2s;
  overflow: hidden;
}
.layer:nth-child(1) .fruits img:nth-child(1) {
  width: 180px;
  position: absolute;
  transform: translate(calc(-50%+275px), calc(-50% -500px));
  left: -280px;
  top: -220px;
}
.half-orange {
  width: 180px;
  position: absolute;
  transform: translate(calc(-50%+275px), calc(-50% -500px));
  right: -300px;
  top: -45px;
}

.portion-orrange {
  width: 150px;
  position: absolute;
  transform: translate(calc(-50%-175px), calc(-50%+115px));
  left: -280px;
  top: 40px;
}

.layer:nth-child(2) {
  background-color: var(--secondary-color);
}
.layer:nth-child(2) .text {
  color: #bcf573;
}

.layer:nth-child(2) .fruits img:nth-child(1) {
  width: 180px;
  position: absolute;
  transform: translate(calc(-50%+275px), calc(-50% -500px));
  right: -275px;
  top: -220px;
}

.layer:nth-child(2) .fruits img:nth-child(2) {
  width: 60px;
  position: absolute;
  transform: translate(calc(-50%+275px), calc(-50% -500px));
  right: -175px;
  top: 40px;
}

.layer:nth-child(2) .fruits img:nth-child(3) {
  width: 180px;
  position: absolute;
  transform: translate(calc(-50%+275px), calc(-50% -500px));
  right: -300px;
  top: -45px;
}

.cubic-transition {
  transform: cubic-bezier(0.71, 0, 0.38, 1) 1.2s;
}
